<appSettings>
  <add key="demoQAURL" value="http://demoqa.com/"/>
  <add key="toolsQAURL" value="http://toolsqa.com/"/>
  <add key="TestDataSheetPath" value="D:\Nelly\Homeworks\DesignPatternsProject\DesignPatternsProject\DataDrivenTests\UserData.xlsx"/>
  <add key="Logs" value="C:\Users\Jordan\Desktop\NellyQA\QAAutomationHomework\DesignPatternsProject\DesignPatternsProject\DataDrivenTests\Logs\"/>
</appSettings>